@model Dominio.Developer

@{
    ViewData["Title"] = "CreateDeveloper";
}

<h1>Crear Developer</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDeveloper">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Apellido</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="exampleSelect">Lideres</label>
                <select asp-for="Leader.Id" class="form-control" id="exampleSelect">
                    @foreach (Dominio.Leader d in ViewBag.leaders)
                    {
                        <option value="@d.Id">@d.Name @d.LastName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Developers">Volver</a>
            </div>
        </form>
        <p>@ViewBag.message</p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
