<h1>Login</h1>
<form method="post">
    <label>Email:</label>
    <input type="text" name="Email" /> <br /><br />
    <label>Password:</label>
    <input type="password" name="Password" /><br /><br />
    <input type="submit" value="Login" />
</form>
<p>@ViewBag.mensaje</p>