<h1>Iniciar sesión</h1>
<form method="post">
    <label>Email:</label>
    <input type="text" name="Email" /> <br /><br />
    <label>Contraseña:</label>
    <input type="password" name="Password" /><br /><br />
    <input type="submit" value="Ingresar" />
</form>
<p>@ViewBag.mensaje</p>