@model Dominio.DTO.EmailDTO

<h1>Send Email</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Formulario para enviar el correo -->
        <form asp-action="SendEmail" method="post">
            <!-- Campo oculto para PositionId -->
            <input id="PositionId" name="PositionId" type="hidden" value="@ViewBag.position.Id">

            <!-- Dirección de correo del líder (oculta) -->
            <div class="form-group">
                <label class="control-label">Leader Email:</label>
                <label class="control-label">@ViewBag.position.Developer.Leader.Email</label>
                <input type="hidden" id="Address" name="Address" value="@ViewBag.position.Developer.Leader.Email">
            </div>

            <!-- Campo para el asunto -->
            <div class="form-group">
                <label for="Topic" class="control-label">Subject:</label>
                <input id="Topic" name="Topic" class="form-control" />
            </div>

            <!-- Campo para el cuerpo del mensaje -->
            <div class="form-group">
                <label for="Body" class="control-label">Body:</label>
                <textarea id="Body" name="Body" class="form-control" rows="5"></textarea>
            </div>

            <!-- Botón de envío -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
