@model Dominio.DTO.EmailDTO
<h1>Enviar Email</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendEmail">
            <input id="PositionId" type="hidden" value="@ViewBag.position.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Leader:</label>
                <label class="control-label">@ViewBag.position.Developer.Leader.Email</label>
                <input asp-for="Address" type="hidden" class="control-label" value="@ViewBag.position.Developer.Leader.Email">
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label">Asunto</label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Body" class="control-label">Body</label>
                <textarea asp-for="Body" class="form-control" rows="5"></textarea>
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>                    
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
